@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-outfit: "Outfit", sans-serif;
    --font-lexend: "Lexend", sans-serif;
    --font-primary: var(--font-outfit);
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --duration: 40s;
}

body {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

.column-center {
    @apply flex flex-col justify-center items-center h-screen;
}

.row-center {
    @apply flex justify-center items-center h-screen;
}

/* Example of using Lexend in a specific element */
.lexend {
    font-family: var(--font-lexend);
}

.mask {
    mask-image: linear-gradient(
        to right,
        #000,
        #000,
        transparent 0,
        #000 var(--scroll-shadow-size),
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    ) !important;
}

@keyframes scrolling-banner {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 40px / 2));
    }
}

.animate-scrolling-banner {
    animation: scrolling-banner var(--duration) linear infinite;
}

@keyframes scrolling-banner-vertical {
    0% {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-50% - var(--gap) / 2));
    }
}

.animate-scrolling-banner-vertical {
    animation: scrolling-banner-vertical var(--duration) linear infinite;
}
